body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #4CAF50;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}
button:hover {
    background-color: #45a049;
}
.container {
    margin-top: 20px;
}
.clicker-count {
    font-size: 35px;
    margin-top: 10px;
    color: #333;
}
.click-count {
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}
